<strong>Confirmação do seu Pedido</strong>

<p>Registramos a sua solicitação de busca de seu objeto perdido. Iremos entrar em contato caso encontremos o seu objeto!</p>
<p>As informações do seu pedido se encontram a seguir: </p>
<p>Nome do item: {{ name }}</p>
<p>Categoria do item: {{ category }}</p>
<p>Cor do item: {{ color }}</p>
<p>Descrição do item: {{ description }}</p>



<p>Atenciosamente,</p>

<p>Equipe IFRS Campus Canoas</p>
