<strong>Seu item foi encontrado!</strong>

<p>Item: {{ itemName }}</p>

<p>Você deve comparecer ao setor pedagógico do Campus com a sua identificação, para poder retirá-lo!</p>

<p>Para mais informações, acesse o SAPO: {{ url }}</p>

<p>Atenciosamente,</p>

<p>Equipe IFRS Campus Canoas</p>
