<strong>Novo Pedido registrado no sistema</strong>

<p>Um novo objeto foi registrado por um aluno ou servidor!</p>

<p>Você pode visualizar no link a seguir: {{ url }}</p>


<p>Atenciosamente,</p>

<p>Equipe IFRS Campus Canoas</p>
