<strong>Novo Pedido registrado no sistema</strong>

<p>Um novo pedido foi registrado por um aluno ou servidor!</p>
<p>As informações do seu pedido se encontram a seguir: </p>
<p>Nome do Aluno/Servidor: {{ username }}</p>
<p>Email do Aluno/Servidor: {{ email }}</p>
<p>Nome do item: {{ name }}</p>
<p>Categoria do item: {{ category }}</p>
<p>Cor do item: {{ color }}</p>

<p>Você pode visualizar o item no link a seguir: {{ url }}</p>


<p>Atenciosamente,</p>

<p>Equipe IFRS Campus Canoas</p>
